@model ConpuGroupMedical.Models.Hastane;
<!DOCTYPE html>
@{
    ViewData["Title"] = "Hastane_Duzenle";
}
<html>
    <head>

    </head>
    <body>
        <h1>Hastane Düzenleme Sayfası</h1>
        <br>
     @using (Html.BeginForm("HastaneDuzenle","Home", FormMethod.Post))
            {
                <br>
                <br>
            <tr>
                <td>Hastane Tesis Kodu </td>
                <td>
                    @Html.TextBoxFor(m => m.Tesis_Kodu)
                </td>
            </tr>  

            <br>
            <br>

            <tr>
                <td>Hastane Adı </td>
                <td>
                    @Html.TextBoxFor(m => m.Hastane_Adi)
                </td>
            </tr>

            <br>
            <br>

            <tr>
                <td>Hastane Telefonu </td>
                <td>
                    @Html.TextBoxFor(m => m.Hastane_Telefon)
                </td>
            </tr>

            <br>
            <br>

            <tr>
                <td>Hastane Adresi </td>
                <td>
                    @Html.TextBoxFor(m => m.Hastene_Adres)
                </td>
            </tr>

           <br>
           <br>

           <tr>
                <td>Bağlı Olduğu Grup </td>
                <td>
                    @Html.DropDownList("Bagli_Oldugu_Grup_Id", "Lütfen seçiniz")
                </td>
            </tr>
          
        <br>
        <br>
         
           
            <br>
            <button type="submit" id="save" class="btn btn-primary">Hastaneyi Düzenlemeyi Tamamla</button>
            <br>

            }
        <div> 
            <a asp-action="Hastane_Islemleri">Hastane Listesine Geri Dön</a> 
        </div> 

    </body>
</html>